<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>kEnabled</key>
		<false/>
		<key>kCusBioPass</key>
		<false/>
		<key>kBioPassSound</key>
		<string>None</string>
		<key>kCusBioFail</key>
		<false/>
		<key>kBioFailSound</key>
		<string>None</string>
	</dict>
</plist>